<div id="viewtab">

     <h3>Resource Management Colors</h3>

     <form method="POST" action="/api/v1/master/color">
     <table class="styled-table">
       <thead>
          <tr>
           <th>Name</th>
           <th>Alt.Name</th>
           <th>Action</th>
          </tr>
      </thead>
      <tbody>
       <tr>
         <td> <input type="text" class="form-control" name="color" placeholder="enter color name" required></td>
         <td> <input type="text" class="form-control" name="alternate" placeholder="enter Alternate name" required></td>
         <td><button class="btn btn-primary" type="submit" name="button">+ Add Color</button></td>
       </tr>
      </tbody>
    </table>
    </form>
    <br /><br />

    <form method="POST" action="/api/v1/master/search">

     <input type="hidden" name="page" value="colormaster" />
     <input class="form-control me-2" name="name" type="search" placeholder="Search..." aria-label="Search">

    </form>

     <table class="styled-table">

     <thead>
         <tr>
             <th>Seq no</th>
             <th>Name</th>
             <th>Alt.Name</th>
            <th>Status</th>
            <th>Action</th>
         </tr>
     </thead>

     <tbody>
     <% if(colors!=''){ %>
      <% colors.forEach(function(color,index) { %>
       <tr>
          <td><%= index+1%></td>
          <td><%= (color.Color).charAt(0).toUpperCase() + (color.Color).substr(1).toLowerCase() %></td>
          <td><%= (color.Alternate).charAt(0).toUpperCase() + (color.Alternate).substr(1).toLowerCase() %></td>
          <td><%= color.Status%></td>
          <td><i class="fas fa-edit"></i></td>
       </tr>
     <% }) %>
    <% } %>
    </tbody>

    </table>

    </div>
